{% block content %}
    <style>
        table {
            border-collapse: collapse;
        }

        table, th, td {
            border: 1px solid;
            padding: 2px;
        }
    </style>
    <h2>Bulk Products</h2>
    <p>
        <a href="{% url 'product_list_view' %}">« Back to Product</a> |
        <a href="{% url 'bulk_product_create' %}">Add New</a>
    </p>
    <table>
        <thead>
        <tr>
            <th>File</th>
            <th>Created Time</th>
            <th>Status Upload</th>
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
            <tr>
                <td>{{ product.file }}</td>
                <td>{{ product.created }}</td>
                <td><span
                        id="status-product-{{ product.id }}">{{ product.status }}</span>
                    <span
                            id="progress-product-{{ product.id }}">{{ product.progress }}</span>%
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <script>

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/notification/upload/'
        );

        chatSocket.onmessage = function (e) {
            const msg = JSON.parse(e.data) // Access the notification data
            document.getElementById('progress-product-' + msg.id).innerText = msg.progress
            if (msg.progress === 100) {
                document.getElementById('status-product-' + msg.id).innerText = 'done'
            }

        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
{% endblock %}